/*Reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Variables*/
:root{
  --color-dark:#1b1b1b;
  --color-light:#ffffff;
  --color-gold:#fff701;
}
/*Background general body*/
body {
  background-color:var(--color-dark);
  font-family: 'Helvetica 35 Thin', sans-serif;
  font-weight: 200;
}
/*NavBar*/
.navbar{
background-color: var(--color-dark);
}
.laceluLogo{
  height: 80px;
  width: auto;
}
.navbarFont{
  font-family: 'Helvetica Neue', sans-serif;
}
.nav-link{
  margin-left: 3.5rem;
}

/*Footer*/
footer {
  /*position: fixed;*/ /*como hacer para que el footer quede fijo pero se mueva y no intervenga en la navegacion de la pagina*/
  bottom: 0px;
  width: 100%;
  /*background: #111;*/
  background-image: linear-gradient(45deg, rgb(20, 19, 19), rgb(245, 63, 17));
  font-family: 'Georgia Pro Cond', sans-serif;
  color: whitesmoke;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
  margin-left: 170px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0; /* es lo mismo que colocar un margin top:0; haceindo que se separe lo items de los elementos de arriba*/
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 10px;
  color: white;
}

.left .content .social a i {
  height: 40px;
  width: 40px;
  background: rgb(60, 49, 49);
  line-height: 40px;
  text-align: center;
  font-size: 28px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a i:hover {
  background: rgb(248, 227, 0);
}

.center i {
  margin-bottom: 15px;
}
/*Productos*/
.productsBody{
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: 'Georgia Pro Light', sans-serif;
}

.productsContainer{
  margin: 2rem auto;
}


.productsContainer h5{
  font-weight: bold;
}

.productsContainer span{
  font-weight: bold;
}

/*CONTACTO*/
  /*contacto*/
  .iframeContact{
    width: 100%;
}
.contactBody{
  background-color: var(--color-light);
  font-family: 'Georgia Pro Cond', sans-serif;

}


/*SERVICIOS*/

.bodyService{
  background-color: var(--color-light);
  font-family: 'Georgia Pro Cond', sans-serif;

}
.video video{
  height: 500px;
  width: 100%;
  }

  .img img{
    height: 30rem;
  }

  .textService{
    color: #100f0f;
    font-size: 1rem;
  }
  
  .textService h2{
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-transform: uppercase;
    -moz-transform: uppercase;
    -ms-transform: uppercase;
    -o-transform: uppercase;
}
/*LA FABRICA*/
#pics img{
  width: 100%;
  margin-bottom: 2rem;
}

.bodyFactory{
  background-color: var(--color-light);
  font-family: 'Georgia Pro Cond', sans-serif;

}

/* MEDIA QUERIES*/

/*Laptop*/
@media screen and (max-width: 1024px) {


  .card-footer {
    text-align: justify;
  }

  .contactContainer {
    grid-template:
      "contactForm " auto
      " contactImg" auto
      " iframeContact " auto
      "contactLocation"auto /
        auto;
  }

  .fabricaContainer {
    grid-template:
      "num1 "auto
      "fabImg" auto
      " num2 "auto
      "fabImg2" auto
      " num3  "auto
      "fabImg3" auto
      "text "auto /
        auto;
  }


  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position: fixed;*/ /*como hacer para que el footer quede fijo pero se mueva y no intervenga en la navegacion de la pagina*/
    bottom: 0px;
    width: 100%;
    /*background: #111;*/
    background-image: linear-gradient(45deg, rgb(20, 19, 19), rgb(245, 63, 17));
    font-family: 'Georgia Pro Cond', sans-serif;
    font-size: 16px;
    color: whitesmoke;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }

  .main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
    margin-left: 30px;
  }

  .box h2 {
    font-weight: 100;
    text-transform: uppercase;
  }

  .box .content {
    margin: 0; /* es lo mismo que colocar un margin top:0; haceindo que se separe lo items de los elementos de arriba*/
  }

  .left .content .social {
    margin: 0;
  }

  .left .content .social a {
    /*padding: 0 10px;*/
    color: white;
  }
}

/*Tablet*/
@media screen and (max-width: 768px) {
  .header {
    font-size: 10px;
    padding: 1% 0;
  }

  

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position: fixed;*/ /*como hacer para que el footer quede fijo pero se mueva y no intervenga en la navegacion de la pagina*/
    bottom: 0px;
    width: 100%;
    /*background: #111;*/
    background-image: linear-gradient(45deg, rgb(20, 19, 19), rgb(245, 63, 17));
    font-family: 'Georgia Pro Cond', sans-serif;
    font-size: 16px;
    color: whitesmoke;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }

  .main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
    margin-left: 30px;
  }

  .box h2 {
    font-weight: 100;
    text-transform: uppercase;
  }

  .box .content {
    margin: 0; /* es lo mismo que colocar un margin top:0; haceindo que se separe lo items de los elementos de arriba*/
  }

  .left .content .social {
    margin: 0;
  }

  .left .content .social a {
    /*padding: 0 10px;*/
    color: white;
  } 

}

/*Mobile*/
@media screen and (max-width: 425px) {
  
  .contactContainer {
    grid-template:
      "contactForm " auto
      " contactImg" auto
      " iframeContact " auto
      "contactLocation"auto /
        auto;
  }
}

